<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>lesson 11-12 </title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/reset.css">
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script defer src="js/carousel-plugin.js"></script>
	<script defer src='js/tmpl.js'></script>
	<script defer src="js/script.js"></script>
</head>
<body>
<div class="wrapper">
	<div class="carousel-hiden">
		<ul class="carousel-list">
			<li class="carousel-element"><img src="img/img1.jpg" alt="цветы"></li>
			<li class="carousel-element"><img src="img/img2.jpg" alt="цветы"></li>
			<li class="carousel-element"><img src="img/img3.jpg" alt="цветы"></li>
			<li class="carousel-element"><img src="img/img4.jpg" alt="озеро"></li>
			<li class="carousel-element"><img src="img/img5.jpg" alt="небо"></li>
			<li class="carousel-element"><img src="img/img6.jpg" alt="аист"></li>
		</ul>
	</div>
	<script type="text/tamplate" id="resume">
		<div class="form">
			<h2><%= name %></h2>	
			<img class="foto" src = " <%= photourl %> " alt="Моя фотография" >
			<p><%= university %></p>
			<div class="content">
				<p>Хочу учить фронтенд потому, что:</p>
				<ul>
					<li><%= reason1 %></li>
					<li><%= reason2 %></li>
					<li><%= reason3 %></li>
				</ul>
			</div>
			<div class="content">
				<p>Мой контактный телефон:<span><%= number %></span></p>
				<p>Мой профиль в контакте:<span><a href="vk.com"><%= link %></a></span></p>
			</div>
			<div class="content">
				<p>Мой фидбек:<span><%= feedback %></span></p>
			</div>
		</div>
	</script>
</div>
</body>
</html>