body{
	background:url('../../img/gulp.png');
	background-size: 100%;
}
.wrapper{
	/* background; */
	border:1px solid rgba(245,222,179 ,1);
	border-radius: 20px;
	width: 60%;
	margin: 0.5% auto;
	padding: 0.05% 1%;

}