.wrapper{
	width: 500px ;
	height: 200px;
	margin: 40px auto;
	background: #009688;
	border-top: 30px solid #00796B;
	padding: 10px 20px;
	color: #fff;
	font: 20px serif;;
}

.formText {
	margin: 20px 10px;
	position: relative;
}

/* .formText a{
	width: 140px;

} */

.button{
	background: #FFEB3B;
	font: bolder 20px  Arial serif;
	color: #009688;
	margin-left: 20px;
	height: 40px;
	width: 130px;
	border-radius: 8px;
	border: none;
}
input[type="text"]{
	border: 1px solid #00796B;
	font: 15px Arial serif;
	/*margin-left: 10px;*/
	width: 160px;
}

.firstName{
	margin-left: 34px;
}
.secondName{
	margin-left: 12px;
}
.address{
	margin-left: 53px;
}

.formText em{
	left: 300px;
	top: 0;
	position: absolute;
	width: auto;
	height: auto;
	padding: 5px 5px;
	background: #fff;
	border: 1px solid #7f8c8d;
	font: 12px Arial serif;
	color:  black;
	text-align: center;
	display: none;
}

span{
	left: 300px;
	top: 0;
	position: absolute;
	width: auto;
	height: auto;
	padding: 5px 5px;
	background: #fff;
	border: 1px solid #7f8c8d;
	font: 12px Arial serif;
	color:  black;
	text-align: center;
	display: none;

}
