/*Подключение плагина*/

.wrapper{
  width: 1000px;
  height: auto;
  margin: 50px auto;
  padding: 20px 0;
  background-color: #ecf0f1;
}
.carousel-hiden{
	width: 630px;
	height: auto;
	margin: 20px auto;
	overflow: hidden;
  border: 1px solid black;
  position: relative;
}
.carousel-list{
  list-style: none;
  width: 10000px;  
  padding: 0;
  position: relative;
}

.carousel-element{
  display: block;
  margin: 5px 5px 2px 5px;
  float: left;
}
.carousel-element img{
	width: 200px;
  height: 80px;
}
.carousel-arrow-left{
  position: absolute;
  left: 0;
  display: block;
  border: 1px solid gray;
  background-color: rgba(224,224,224 , .8);
  padding: 5px;
  margin-top: 30px;
  margin-right: 25px;
  z-index: 1;
}
.carousel-arrow-right{
  position: absolute;
  right: 0;
	display: block;
  border: 1px solid gray;
  background-color: rgba(224,224,224 , .8);
  padding: 5px;
  margin-top: 30px;
  margin-left: 25px;
}
.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
  cursor: pointer;
  background-color: gray;
}
/*стили для шаблона */
.form{
	text-align: left;
	width: 600px;
  height: auto;
  margin: 50px auto;
  padding: 40px 40px;
  background-color: #ecf0f1;
  font: 20px Tahoma sans-serif;
}
.form>h2 {
	text-align: center;
	font: bold 25px Tahoma sans-serif;
}
.foto {
	display: block;
	height: 220px;
	margin: 0 auto;
}
.form>p{
	margin: 20px 10px 10px 20px;
}
.content{
	margin: 20px auto;
	border-top: 1px solid black;
}
.content ul{
	list-style-type: disc;
	margin: 25px 10px 0 50px; 
}
.content li{
	margin: 5px;
}
.content p{
	margin: 20px 10px 10px 20px; 
}
.content span{
	display: block;
	margin: 5px  0;
}