table{
	border-collapse:collapse;
	border: 2px solid white;
}
td {
	border: 10px solid #000;
	text-align: center;
}
.l1 {
	background: white;
	height: 45px;
	width: 120px;
}
.l2 {
	background-color: white;
	height: 45px;
	width: 200px;
}
.l3 {
	background-color: yellow;
	height: 45px;
	width: 165px;
}
.l4 {
	background-color: white;
	height: 45px;
	width: 165px;
}
.l5{
	background-color: red;
	height: 270px;
	width: 270px;
}
.l6{
	background-color: yellow;
	height: 270px;
	width: 270px;
}
.blue{
	background-color: #04427f;
	height: 94px;
	width: 165px;
}
.l7{
	background-color: white;
	height: 200px;
	width: 50px;
}
.l8{
	background-color: white;
	height: 130px;
	width: 76px;
}
.l14{
	background-color: yellow;
	height: 135px;
	width: 51px;
}
.l10{
	background-color: #32403b;
	height: 60px;
	width: 60px;
}
.l20{
	background-color: #32403b;
	height: 30px;
	width: 130px
}