.clearfix:after{
	content:'';
	clear: both;
	display:block;
	height: 0;
	width: 100%;
}

body {
	background-color: gray;
}
.wrapper{
	width: 910px;
	height:1300px;
	margin: 0 auto;
	background: white;
	padding-top: 20px;
	padding-left: 45px;
	padding-right: 45px;
}
header{
	/*overflow: hidden;*/
	/*background: yellow;*/
}
header .phone img{
	/*display:block;*/
	background-image: -webkit-linear-gradient(#0c3357, #1e6584);
	background-image: -o-linear-gradient(#0c3357, #1e6584);
	background-image: linear-gradient(#0c3357, #1e6584);
	padding: 2px;
	border-radius: 100%;
	width: 17px;
	height: 17px;
	vertical-align: text-bottom;

}	
header span{
	font-size: 16px;
	font-family: Arial, sans-serif;
	color: rgb( 94, 105, 109 );
	text-align: center;
	/*vertical-align: middle;*/
}
.phone{
	float:left;
	margin-left: 5px;
	margin-top: 2px;
}
.login{
	/*width: 600px;*/
	height: 27px;
	float: left;
	margin: 0px 0px 0px 15px;
	padding-right: 10px;
	border-radius: 4px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f6685+0,0d3458+100 */
	background: #1f6685; /* Old browsers */
	background: -webkit-linear-gradient(#1f6685 0%, #0d3458 100%);
	background: -o-linear-gradient(#1f6685 0%, #0d3458 100%);
	background: linear-gradient(#1f6685 0%, #0d3458 100%); /* FF3.6-15   Chrome10-25,Safari5.1-6  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6685', endColorstr='#0d3458',GradientType=0 ); /* IE6-9 */*/
	/*vertical-align: top;*/
	font-size: 9px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
}	
.login img{
	margin: 3px  2px 2px 7px;
	/*background: blue;*/
	vertical-align: text-bottom;
}
.login form input{
	height:13px;
	width: 115px;
	font-size: 13px;
	vertical-align: text-bottom;
	margin: 0px 2px;
	
}
.enter{
	background-image: none; 
    background-color: transparent;
    border: none;
    color: #fff;
    vertical-align: text-top;
    border-right: 1px solid #fff;
    /*font-size: 15px;*/
    /*margin-top:;*/

}
.reg{
	color: #fff;
	vertical-align: text-top;
	text-decoration: none;
	font-size: 15px;
}
.forget{
	color: #959fa7;
	vertical-align: text-top;
	margin-left: 15px;
	font-size: 15px;
}
.Icon{
	/*vertical-align: text-top;*/
	float: left;
	margin-left: 10px;
}
.navigation{
	
}

